/* Zoom into website */
@keyframes zoom-in {
  from {
    width: 60%;
    height: 60%;
  }
  to {
    width: 80%;
    height: 80%;
  }
}

/* Zoom out of website */
@keyframes zoom-out {
    from {

    }

    to {
    }
}