:root {
    --color-primary: #f9f9f9;
    --color-secondary: #a1b7bc;
    --color-tertiary: #213555;

    --color-grey-dark: #202020;
    --color-grey-light: #f4f4f4;

    --color-white: #fff;
    --color-black: #000;
    --color-creme: #f1f0f0;

    --rotate-angle: 20deg;

    --font-family: 'Agrandir', sans-serif;

    /* padding en margins */
    --padding-sides: 1em;
    --height-dashboard: 100px;

    /* container style queries */
    --web-state: zoomed-out;
    --widget-section: ;
    --show-section-widget-assign: false;
    --widget-section-clr: var(--color-creme);
    --icon-size-header: 34px;

    /* Scene 3d space */
    --border-radius: 10px;
    --perspective-scene: ;
    --scale-angle-cuboid: 1.4;

    /* Animations */
    --animation-platform: 500ms;
    --animation-controller: 500ms;
    --animation-timing-delay: 100ms;

    --animation-offset-time: 500ms;
    --animation-chart-sequence-time: 5s;
    --animation-line-bar: 500ms;
    --animation-chart-fadebar: 800ms;

    --animation-fadeInAssignmentLine: 500ms;
    --animation-fadeInAssignmentName: 300ms;
    --animation-turningAssignmentLabel: 5s;


    --animation-sequence-first-part: calc(var(--animation-chart-fadebar) * 3 + var(--animation-offset-time));
    --animation-sequence-sec-part: calc(var(--animation-sequence-first-part) + var(--animation-fadeInAssignmentLine) + var(--animation-offset-time));
    --animation-sequence-third-part: calc(var(--animation-sequence-sec-part) + var(--animation-fadeInAssignmentName) + var(--animation-offset-time));

    /* inputs */
    --isChecked: 0;

    /* Data */   
    --amount-students: 31;
    --amount-timeline: 20;
    --amount-control: 10;
    --amount-rubiks: 1;

    --height-bar: 40cqh;
    
    --height-timeline: calc(var(--amount-timeline) / var(--amount-students) * var(--height-bar));
    --height-control: calc(var(--amount-control) / var(--amount-students) * var(--height-bar));
    --height-rubiks: calc(var(--amount-rubiks) / var(--amount-students) * var(--height-bar));
    
    /* color mixes */
    --background-mix: color-mix(in srgb, var(--widget-section-clr) 60%, var(--color-secondary) 60%);


    /* Controls */
    --rotate-angle-cuboid-opdracht: 0deg;
    --rotate-angle-cuboid-laptop: 0deg;

    --rotate-angle: 60deg;

}
