* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

html {
    overflow: hidden;
}

body {
    font-family: var(--font-family), sans-serif;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: all 0.5s ease-in-out;
}

input[type="checkbox"], input[type="radio"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}


/* GRID */
/* div:first-of-type {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transform-style: preserve-3d;
    transform: rotateX(var(--rotate-angle));
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
} */

/* DASHBOARD */
body > div:nth-of-type(2) {
    max-width: 1000px;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    background-color: #ffffff;
    aspect-ratio: 3 / 1;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotate-angle));

    -webkit-box-shadow: -18px 29px 40px 10px rgba(61, 61, 61, 0.208);
    -moz-box-shadow: -18px 29px 40px 10px rgba(61, 61, 61, 0.208);
    box-shadow: -18px 29px 40px 10px rgba(61, 61, 61, 0.208);
    transition: all 0.5s ease-in-out;
    
    input[value="blurry"] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
}

/* ---------------- */
/* SECTIONS - PAGES */
/* ---------------- */

/* LAYOUT STYLE */
body > div:nth-of-type(2) {
    > div {
        background-color: var(--color-creme);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);

        display: flex;

        header {
            padding: var(--height-dashboard) var(--padding-sides);
            width: 80px;
            height: 100%;

            > img:first-of-type {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            nav {
                display: flex;
                flex-direction: column;
                gap: 2em;
                align-items: center;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1em;

                li {
                    width: var(--icon-size-header);
                    height: var(--icon-size-header);
                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }  
        }

        > div:first-of-type {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            /* DASHBOARD TOP */
            > div:first-of-type {
                padding: var(--padding-sides) var(--padding-sides) 0 var(--padding-sides);
                height: var(--height-dashboard);

                display: flex;
                justify-content: start;
                align-items: center;
            }

            /* DASHBOARD BOTTOM */
            > div:nth-of-type(2) {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 1fr);
                padding: 0.8em 1em;
                row-gap: .8em;
                column-gap: 1em;
    
                > div {
                    background-color: var(--color-white);
                    border-radius: 10px;
                    position: relative;

                    &:nth-of-type(1) {
                        grid-column: 1 / 2;
                        grid-row: 1 / 5;
                    }

                    &:nth-of-type(2) {
                        grid-column: 2 / 3;
                        grid-row: 1 / 3;
                    }

                    &:nth-of-type(3) {
                        grid-column: 1 / 2;
                        grid-row: 5 / 7;
                    }

                    &:nth-of-type(4) {
                        grid-column: 2 / 3;
                        grid-row: 3 / 7;
                }
            }
        }
    
        }
    }
}

/* --- */
/* HAS */
/* --- */
body:has(div:nth-of-type(2) input[value="blurry"]:checked) input[value="blurry"] {
    width: 32px;
    height: 32px;
    opacity: 1;
    bottom: 20px;
    top: auto;
    left: 28px;
    right: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    appearance: none;

    &::after {
        content: '';
        background-image: url('../assets/log-off-svgrepo-com.svg');
        background-size: cover;
        width: inherit;
        height: inherit;
        display: inline-flex;
    }

    &:hover {
        scale: 1.2;
    }
}

html:has(input[value="blurry"]:checked) {
    --web-state: zoomed-in;
}

html:has(input[value="blurry"]:not(:checked)) {
    --web-state: zoomed-out;
}

/* ------------ */

html:has(input[value="widget1"]:checked) {
    --widget-section: widget1;
}

html:has(input[value="widget2"]:checked) {
    --widget-section: widget2;
}

html:has(input[value="widget3"]:checked) {
    --widget-section: widget3;
}

html:has(input[value="widget4"]:checked) {
    --widget-section: widget4;
}


/* ------------------------------------------- */
/*                  CUBIOD                     */
/* https://www.youtube.com/watch?v=63ZFh6T_iXc */
/* ------------------------------------------- */

  div[data-cuboid] {
    --depth: 80px;

    height: var(--height);
    width: var(--width);
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform: translateZ(calc(var(--depth) * -0.5));
    
    > div[data-cuboid-side] {
        position: absolute;

        &:nth-of-type(1),
        &:nth-of-type(2) {
            --cooefficent: -0.5;

            width: var(--width);
            height: var(--height);
            transform: translate3d(0, 0, calc(var(--depth) * var(--cooefficent)));
        }

        &:nth-of-type(2) {
            --cooefficent: 0.5;
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
            --rotation: 90deg;

            width: var(--depth);
            height: var(--height);
            left: 50%;
            top: 50%;
            transform:
                translate(-50%, -50%) 
                rotateY(var(--rotation)) 
                translate3d(0, 0, calc(var(--width) * -0.5));
        }

        &:nth-of-type(4) {
            --rotation: -90deg;
        }

        &:nth-of-type(5),
        &:nth-of-type(6) {
            --rotation: -90deg;

            width: var(--width);
            height: var(--depth);
            left: 50%;
            top: 50%;
            transform:
                translate(-50%, -50%) 
                rotateX(var(--rotation))
                translate3d(0, 0, calc(var(--height) * -0.5));
        }

        &:nth-of-type(6) {
            --rotation: 90deg;
        }

    }

    &[data-cuboid="widget1"]  {
        --width: 460px;
        --height: 470px;
    }

    &[data-cuboid="widget2"] {
        --width: 100%;
        --height: 228px;
    }
}

/* ---------- */
/* CONTAINER */
/* -------- */
@container style(--web-state: zoomed-out) {
    input[value="blurry"] {
        z-index: 10;
    }

    header nav ul li {
         background-color: var(--color-white);
    }

    body {
        background-color: var(--color-primary);
        perspective: 600px;
    }

    body > div:nth-of-type(2) > div:nth-of-type(1) {
        display: flex;
    }

    body > div:nth-of-type(2) > div:nth-of-type(2) {
        display: none;
    }
}

@container style(--web-state: zoomed-in) {
    input[value="blurry"] {
        z-index: 10;
    }

    header nav ul li {
        --icon-size-header: 40px;
        background-color: var(--color-white);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:first-of-type {
            background-color: var(--color-tertiary);

            > svg {
                fill: var(--color-white);
            }
        }

        &:has(svg) svg {
            max-width: 20px;
            width: 20px;
            height: 20px;
            fill: var(--color-tertiary);
        }

        &:hover {
            border: 2px solid var(--color-tertiary);
            scale: 1.15;
        }
    }

    body {
        --perspective-scene: 1200px;
        background-color: var(--color-secondary);

        perspective: var(--perspective-scene);
    }

    body > div:nth-of-type(2) {
        width: 85%;
        height: 90%;
        transform: rotateX(40deg);

        -webkit-box-shadow: 20px 30px 10px 0 rgba(61, 61, 61, 0.208);
        -moz-box-shadow: 20px 30px 10px 0 rgba(61, 61, 61, 0.208);
        box-shadow: 20px 30px 10px 0 rgba(61, 61, 61, 0.208);
    }
    
    body > div:nth-of-type(2) > div:nth-of-type(1) {
        display: none;
    }

    body > div:nth-of-type(2) > div:nth-of-type(2) {
        display: flex;
        transform-style: preserve-3d;
    }
    
        /* CUBIOD */
        div[data-cuboid] {
            > div[data-cuboid-side] {
                &:nth-of-type(2) { 
                    background-color: var(--color-white);
                    border-radius: var(--border-radius); 
                }
            }
        }
}

/* WIDGET SECTION */
@container style(--web-state: zoomed-in) and style(--widget-section: widget1) {
    body > * {
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;
    }
    
    body {
        --width: 50;
        --height: calc(var(--width) / 2);
        --depth: 50;

        --perspective-scene: 1000px;
        background: linear-gradient(90deg, #5c4ce6, #271dad);
        perspective: var(--perspective-scene);
    }

    body > div:nth-of-type(2) {
        --rotate-angle: 72deg;
        transform: rotateX(var(--rotate-angle)) rotateZ(10deg) translateX(200px) translateY(100px);
    }

    body > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
        transition: all 0.5s ease-in-out;
    }

    /* CUBIOD */
    div[data-cuboid="widget1"] {
        transform: translateZ(10px);
        transition: 
            transform 0.5s ease-in-out 0.5s;

        > div[data-cuboid-side] {
            &:not(:nth-of-type(6)) { background-color: var(--color-white); }
            &:nth-of-type(6) { background-color: #271dad; }
        }
    }
}

@container style(--web-state: zoomed-in) and style(--widget-section: widget2) {
    body {
        background: linear-gradient(90deg, #8bd44f, #3d9132);
        perspective: 1000px;
    }

    body > div:nth-of-type(2) {
        --rotate-angle: 60deg;
        transform-origin: center;
        transform: rotateX(var(--rotate-angle)) rotateZ(20deg) translateX(100px);
    }

    div[data-cuboid="widget2"] {
        transform: translateZ(10px);
        transition: 
            transform 0.5s ease-in-out 0.5s;

        > div[data-cuboid-side] {
            --border-radius: 0px;
            &:not(:nth-of-type(6)) { background-color: var(--color-white); }
            &:nth-of-type(4) { background-color: transparent; }
            &:nth-of-type(6) { background-color: #8bd44f; }
        }
    }
}