@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-Regular.otf') format('open-type');
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandirText-Bold.otf') format('open-type');
    font-weight: bold;
}