@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-GrandLight.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-NarrowRegular.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-TightRegular.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandirText-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-WideLight.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/PPAgrandir-GrandHeavy.otf') format('opentype');
    font-weight: 900;
}



h1, h2, h3, h4, h5, h6, p, span {
    font-family: var(--font-family);
    color: var(--color-tertiary);
}

p{
    text-align: center;
}

h2 {
    font-size: clamp(1.85em, 2vw, 2.25em);
    font-weight: 900;
}

h3 {
    font-size: clamp(1.25em, 2vw, 1.35em);
    font-weight: 500;
}

/* TITLE */
body > section {
    z-index: 10;
    position: absolute;
    transform: translateZ(5.5em);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary);

    animation: sectionUpDown 4s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

    h1 {
        text-align: center;
        font-size: 5.5rem;
        font-weight: bold;
        letter-spacing: 0;
        color: var(--color-primary);

        animation: stretch 1200ms cubic-bezier(0.25, 1.25, 0.5, 1) infinite forwards;
        animation-delay: calc(var(--i-title) * 0.3s);

        &:first-of-type {
            --i-title: 1
        }

        &:nth-of-type(2) {
            --i-title: 2;

            color: transparent;
            -webkit-text-stroke: 2px var(--color-primary);
        }

        &:nth-of-type(3) {
            --i-title: 3
        }
      }
}

@keyframes stretch {
    0%, 100% {
      transform: scaleY(1) translateX(0);
      letter-spacing: 0;
    }

    50% {
        transform: scaleY(1.5) translateX(15px);
        font-weight: bolder;
        letter-spacing: 8px;
    }

    75% {
        transform: scaleY(.8) translateX(0);
    }
}

@keyframes sectionUpDown {
    0%, 70% {
        transform: translateY(0) translateZ(5.5em);
    } 

    100% {
        transform: translateY(-200%) translateZ(5.5em);
    }
}